[Unit]
Description=wayvnc VNC server (built from git master)
After=graphical-session.target

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR=%t
Environment=WAYLAND_DISPLAY=wayland-1
Environment=DISPLAY=:0
Environment=LD_LIBRARY_PATH=%h/.local/lib64
ExecStart=%h/.local/bin/wayvnc -o eDP-1 0.0.0.0 5900
Restart=on-failure

[Install]
WantedBy=default.target
