window#osd {
  border-radius: 8px;
  border: 3px solid #3F4843;
  background: rgba(30, 31, 30, 0.87);
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: rgba(130, 135, 130, 1);
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: 6px;
  border-radius: 999px;
  border: none;
  background: rgba(130, 135, 130, 0.5);
}

window#osd progress,
window#osd segment.active {
  min-height: 6px;
  border-radius: 999px;
  border: none;
  background: rgba(130, 135, 130, 1);
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
  margin-left: 0;
}
