* {
    bg:                          #1C1A14;
    foreground-color:            #68694F;
    foreground-color-alt:        #737458;
    accent-color:                #737458;
    border-color:                #737458;
    on:                          #737458;
    off:                         #2C2A24;
    urgent:                      #f53c3c;
}
