*/15 * * * * /home/barrettjflowers/Documents/Vaults/barrettjflowers/sync.sh
* * * * * crontab -l > /home/barrettjflowers/.config/asahi/crontab
* * * * * cat /etc/default/grub > /home/barrettjflowers/.config/asahi/grub
