@import "../colors/colors.css";

* {
    font-size:15px;
    font-family: "Iosevka Nerd Font Mono";
    font-weight: 700;
}
window#waybar{
    background: @background;
    border: 1.8px solid @inactive;
    border-radius: 10px;
    margin-top: 12px;
}
.modules-left {
    padding: 0px 20px;
}
.modules-center {
    padding: 7px 0px;
    margin-left: 450px; /* notch */
}
.modules-right {
    padding: 0px 20px;
}
tooltip {
		box-shadow: none;
    background: @background;
		border-color: @inactive;
    border-radius: 10;
}
tooltip label {
		color: @text;
}
#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#custom-weather:hover{
    transition: all .3s ease;
    color: @accent;
}
#custom-notification {
    padding: 0px 7px;
    transition: all .3s ease;
    color: @text;
}
#window {
    padding: 0px 0px;
    transition: all .3s ease;
    color: @text;
}
#clock{
    padding: 0px 7px;
    color:@text;
    transition: all .3s ease;
}
#custom-pacman{
    padding: 0px 7px;
    transition: all .3s ease;
    color:@text;

}
#workspaces {
    padding: 0px 7px;
    min-width: 100px;
    border: 2px transparent;
}
#workspaces button {
    background: transparent;
    border: 2px transparent;
    padding: 0px 7px;
	color: @text;
}
#workspaces button.active {
    color: @text;
    background: @accent;
		border-radius: 3px;
		margin: 6px 0;
}
#bluetooth{
    padding: 0px 7px;
    transition: all .3s ease;
    color:@text;

}
#network{
    padding: 0px 7px;
    transition: all .3s ease;
    color:@text;
}
#battery{
    padding: 0px 7px;
    transition: all .3s ease;
    color:@text;
    background: transparent;
}
#battery.charging, #battery.plugged {
    color: @text;
    background: transparent;
}
#battery.warning:not(.charging) {
    color: @accent;
    background: transparent;
}
#battery.critical:not(.charging) {
    color: @urgent;
    background: transparent;
    animation-name: none;
}

#group-expand{
    padding: 0px 7px;
    transition: all .3s ease; 
}
#custom-expand{
    padding: 0px 7px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#cpu,#memory,#custom-weather{
    padding: 0px 7px;
    transition: all .3s ease; 
    color:@text;

}

#cpu {
    padding-left: 0px;
	}

#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 0px 7px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 7px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 7px;
    transition: all .3s ease; 
}

#custom-recording {
    padding-right: 15px;
		padding-left: 15px;
    transition: all .3s ease;
    color: @text;
}
#custom-recording.recording {
    color: @urgent;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-kanata-layer {
    padding: 0px 10px;
    color: @text;
}
#custom-kanata-layer.layer-vim-normal {
    color: @text;
    font-weight: bold;
}
@keyframes blink {
    to {
        opacity: 0.3;
    }
}
